.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.nav-items > ul {
    list-style: none;
    display: flex;
    font-size: 14px;
    padding: 0px 10px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}